.col {
    background-color: #006cfa;
    color: white;
    border: .5px solid white;
}

.nested-col {
    background-color: #00e165;
    border: .5px solid #006cfa;
}

.padding-10 {
    padding: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}