.container-fluid {
    background-color: blueviolet;
}

.col {
    background-color: #006cfa;
    color: white;
    border: .5px solid white;
}

.nested-col {
    background-color: #00e165;
    border: .5px solid #006cfa;
}

.padding-10 {
    padding: 10px;
}